{% load staticfiles %}

<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Advent+Pro:300" rel="stylesheet">
		<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "{% static 'css/links_detail.css' %}">
		<title>Links</title>
	</head>

	<body>

		<div id = "container">
			<div class = "header">
				<ul>
					<li><a href = "{% url 'homepage' %}">| Home </a></li>
					<li><a href = "{% url 'about' %}" >| About </a></li>
					<li><a href = "{% url 'projects_page' %}">| Projects </a></li>
					<li><a href = "{% url 'gallery_page' %}" >| Art </a></li>
					<li><a href = "{% url 'post_list' %}" >| Blog </a></li>
				</ul>
			</div>

			<div class = "link_content">

				<p id = "back_link"><a href = "{% url 'links_page' %}"> < Go back to all links </a></p>

				<h1>
					{{ linkpost.title }}
				</h1>

				<div id = "link_list">
					{% for link in links %}

						{% if link.linkpost == linkpost %}
							<p> {{ link.linkdesc }} 
								<span> | </span> 
								<a href = "{{ link.linksite }}">
									{{ link.linksite }}
								</a>
							</p>

						{% endif %}
					{% endfor %}
				</div>

			</div>

		</div>

		<div id = "footer"> 
			<p id = "footer_element"> 
				Built completely in Python web framework Django  | © asitwala 2016 
			</p>
		</div> 

	</body>



</html>