{% load staticfiles %}

<html>
	<head>
		<link rel = "stylesheet" href = "{% static 'css/links_page.css' %}">
		<title>Links</title>
	</head>

	<body>
		<div class = "header">
			<ul>
				<li><a href = "{% url 'homepage' %}">| Home </a></li>
				<li><a href = "{% url 'about' %}" >| About </a></li>
				<li><a href = "{% url 'projects_page' %}">| Projects </a></li>
				<li><a href = "{% url 'gallery_page' %}" >| Art </a></li>
				<li><a href = "{% url 'post_list' %}" >| Blog </a></li>
			</ul>
		</div>

		<div class = "main_content">

		</div>

	</body>



</html>