body {
	background: url(../images/site_links.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.header {
	font-family: "Gill Sans", sans-serif;
	font-weight: 100;
	text-align: center;
	margin-top: 5%;
	width: 100%;
}

/* reference for horizontal header: http://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */

ul { 
	list-style-type: none; 
	margin-left: 4.25%;
	padding: 0;
	overflow: hidden;
}

li a { 
	text-decoration: none;
	float: left;
	margin-right: 9.5%;
	font-size: 1.5vw;
	color: rgba(241, 169, 73, 0.85); /* orange-yellow */
}

li a:hover {
	text-decoration: none;
	color: rgba(172, 55, 221, 0.85); /* purple */
}