/* TRANSITIONS AND OPTIMIZATIONS ----------> */ 

/* reference for transitions */ 
/* http://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load */ 

body {
	background:  #3b0d00 url(../images/site_gallery.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	margin: 0;
	padding: 0;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   	-moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* <---------- END TRANSITIONS AND OPTIMIZATIONS  */ 

.header {
	font-family: "Advent Pro", "Gill Sans", sans-serif;
	font-weight: 300;
	text-align: center;
	margin-top: 5%;
	width: 100%;
}

/* reference for horizontal header: http://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */

ul { 
	list-style-type: none; 
	margin-left: 4.25%;
	padding: 0;
	overflow: hidden;
}

li a { 
	text-decoration: none;
	float: left;
	margin-right: 9.5%;
	font-size: 1.5vw;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
}

li a:hover {
	text-decoration: none;
	color: rgba(190, 0, 220, 0.85); /* purple */
}

#container {
	min-height: 100%;
}

#footer {
	width: 20%;
	padding: 2%;
	margin-left: 2%;
	position: relative;
	clear: both;
	float: right;
	font-family: 'Gill Sans', sans-serif;
	font-weight: 100;
	font-size: 1vw;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */	
}

@media screen and (max-height: 360px){
	#footer {
		opacity: 0; 
	}
}

#back_link a {
	text-decoration: none; 
	color: rgba(180, 12, 120, 0.85); /* magenta */
	font-family: 'Gill Sans', sans-serif;
	font-weight: 100;
	font-size: 1.5vw;
}

#back_link a:hover {
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
}

.main_content {
	position: relative;
	width: 100%;
	margin-top: 5%;
	margin-left: 4%;
	font-family: inherit, sans-serif; 
}

.main_content h1 {
	font-weight: 100;
	font-size: 3.5vw;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
}

.date {
	font-size: 1.25vw;
	color: rgba(190, 0, 220, 1); /* purple */
}

#posted {
	font-size: 1.25vw;
	color: rgba(180, 12, 120, 1); /* magenta */
}

.image_content {
	width: 70%;
}

.actual_image {
	width: 60%;
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin: 2%;
	padding: 2%;
	background-color: rgba(0, 0, 0, 0.2);
	border-left-style: solid; 
	border-left-width: 0.1vw;
	border-color: rgba(219, 113, 27, 0.75); /* orange-yellow */
}

.painting_text {
	margin: 2%;
	padding: 2%;
	font-family: "Gill Sans", sans-serif;
	font-weight: 100;
	font-size: 1.45vw;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */ 
	background-color: rgba(0, 0, 0, 0.2);
}


