
h1 a {
	font-family: inherit, 'Gill Sans', sans-serif;
	font-weight: 100;
	color: rgba(241, 169, 73, 0.85); /* orange-yellow */
	font-size: 3.5vw;
	margin-left: 1em;
}

h1 a:hover {
	text-decoration: none;
	color: rgba(197, 7, 170, 1); /* magenta */
}


h1 .date {
	font-family: inherit, 'Gill Sans', sans-serif;
	font-weight: 100;
	font-size: 1.25vw;
	margin-left: 1.25em;
	color: rgba(241, 169, 73, 1.0); /* orange-yellow */
}

h1 .date_posted {
	color: #c5078c; /* magenta */ 
}

body { 
	background: url(../images/site_blog.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed; /* use so that background doesn't scroll */
	margin: 0;
	padding: 0;
}

body .header {
	margin-top: 2.75em;
	margin-left: 2.5em;
	width: 100%;
	font-family: "Gill Sans", sans-serif; 
	font-weight: 100;
	color: rgba(241, 169, 73, 0.85); /* orange-yellow */
}

.post_container {
	width: 65%;
}

/* deals with just the main text of the post */ 
.post_content {
	background-color: rgba(0, 0, 0, 0.25);
	padding: 1.5em;
	margin-left: 2.5em;
	font-size: 1.25vw;
	font-family: "Gill Sans", sans-serif; 
	font-weight: 100;
	color: rgba(172, 55, 221, 0.75); /* purple */ 
}


/* reference for horizontal header: http://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
	overflow: hidden;
}

li a {
	float: left;
	margin-right: 10%;
	font-size: 1.5vw;
	color: rgba(241, 169, 73, 0.85); /* orange-yellow */
}

li a:hover {
	text-decoration: none;
	color: rgba(172, 55, 221, 0.85); /* purple */
}

img {
	width: 80%;
	opacity: 0.8; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
}

.image_link a:hover {
	background-color: rgba(172, 55, 221, 0.85);
}

hr {
	border: 0;
	border-top: 0.1em solid rgba(197, 7, 170, 0.4); /* magenta */
	margin-left: 2.25em;
}
