/* reference for transitions */ 
/* http://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load */ 

body {
	background: #3b0d00 url(../images/site_projects.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   	-moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; background: black;}
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; background: black;}
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; background: black;}
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; background: black;}
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; background: black;}
    to   { opacity: 1; }
}

.header {
	font-family: "Advent Pro", "Gill Sans", sans-serif;
	font-weight: 300;
	text-align: center;
	margin-top: 5%;
	width: 100%;
}

/* reference for horizontal header: http://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */

ul { 
	list-style-type: none; 
	margin-left: 25%;
	padding: 0;
	overflow: hidden;
}

li a { 
	text-decoration: none;
	float: left;
	margin-left: 12.5%;
	font-size: 1.5vw;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
}

li a:hover {
	text-decoration: none;
	color: rgba(190, 0, 220, 0.85); /* purple */
}

/* reference: http://www.cssstickyfooter.com/using-sticky-footer-code.html
   to make a sticky footer */

#container {
	min-height: 100%;
}

#footer {
	float: right; 
	margin-right: 2%;
	padding: 2%;
	position: relative;
	height: 2.5vw;
	clear: both;
	padding-left: 3%;
	font-family: 'Gill Sans', sans-serif;
	font-weight: 100;
	font-size: 1.25vw;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
}


.project_content {
	background-color: rgba(255, 255, 255, 0.05);
	width: 67.5%;
	float: right;
	padding: 2%;
	margin: 2%;
}

.project_content img {
	width: 80%;
	padding: 2%;
	margin: 2%;
	margin-left: auto; 
	margin-right: auto;
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0.5em;
}

.project_content h1 {
	font-family: inherit, 'Gill Sans', sans-serif;
	font-weight: 100;
	font-size: 3.5vw;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
	text-align: center; 
}

.project_content h1 a {
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
}

.project_content h1 a:hover {
	text-decoration: none; 
	color: rgba(219, 113, 27, 0.85); /* just in case */
}

.project_content h6 {
	font-family: 'Gill Sans', sans-serif;
	font-weight: 100;
	font-size: 1.5vw;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */ 
	text-align: center;
}

.project_content h6 span {
	color: rgba(180, 12, 120, 1); /* magenta */
}

.project_content h6 a {
	color: rgba(180, 12, 120, 1); /* magenta */
}

.project_content h6 a:hover {
	text-decoration: none; 
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
}

.project_content .project_text {
	font-family: 'Gill Sans', sans-serif;
	font-weight: 100; 
	font-size: 1.5vw;
	color: rgba(190, 0, 220, 0.85); /* purple */ 
	background: rgba(0, 0, 0, 0.25);
	border-radius: 0.5em;
	padding: 2%;
}

hr {
	border: 0;
	border-top: 0.1em solid rgba(219, 113, 27, 0.35); /* orange-yellow */
	margin: 2%;
}

#project_divider {
	width: 67.5%;
	float: right;
	padding: 2%;
	margin: 2%;
	padding-top: 0; 
	padding-bottom: 0; 
}

#project_divider hr{
	border: 0;
	border-top: 0.1em solid rgba(180, 12, 120, 0.35); /* magenta */
	width: 100%;
	margin: 0; 
	padding: 0; 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
}

#nav_bar {
	font-family: 'Gill Sans', sans-serif;
	font-weight: 100; 
	font-size: 1.5vw;
	position: fixed;
	top: 70%;
	left: 2%;
	width: 20%;
	float: left;

}

.nav_content a{
	color: rgba(180, 12, 120, 0.85); /* magenta */ 
}

.nav_content a:hover {
	text-decoration: none;
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */
}

.nav_content span {
	color: rgba(219, 113, 27, 0.85); /* orange-yellow */ 
}




