{% load staticfiles %}

<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Advent+Pro:300" rel="stylesheet">
		<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "{% static 'css/blog.css' %}">
		<title>Blog</title>
	</head>

	<body onload = "document.getElementById('container').style.height = document.getElementById('bg_img').height">

		<img id = "bg_img" src = "{% static 'images/site_blog.jpg' %}" alt = "background image"/>

		<div id = "container">
			<div id = "container_2">
				<div id = "full_height"></div>
				<!-- reference above from http://stackoverflow.com/questions/17656623/position-absolute-scrolling -->
				<div id = "header"> 
					<ul>
						<li><a href = "{% url 'homepage' %}" >| Home </a></li>
						<li><a href = "{% url 'about' %}" >| About </a></li>
						<li><a href = "{% url 'projects_page' %}" >| Projects </a></li>
						<li><a href = "{% url 'gallery_page' %}" >| Art </a></li>
						<li><a href = "{% url 'links_page' %}" >| Links </a></li>
					</ul>
				</div> 

				<div class = "post_container">

					<!-- deal with post text --> 
					{% for post in posts %}
						<div>
							<!-- post title and date published -->
							<h1><a href = " " class = "post_titleinfo"> {{ post.title }}</a>
								<span class = "date">
									<span class = "date_posted">| Posted:
									</span> {{ post.published_date }}
								</span>
							</h1>

							<!-- post text --> 
							<div class = "post_content"> {{ post.text|linebreaksbr }}

								<!-- post image (optional) --> 
								{% for post_image in post_images %}
									{% if post_image.post == post %}
										<a href = "{{post_image.image.url}}" class = "image_link">
											<img src = "{{post_image.image.url}}" />
										</a>
									{% endif %}
								{% endfor %}

							</div>

							<hr> <!-- horizontal rule (break between posts) -->
						</div>
					{% endfor %}

				</div>

				<div id = "footer"> 
					<p id = "footer_element"> 
						Built completely in Python web framework Django  | © asitwala 2016 
					</p>
				</div> 

			</div>
		
		</div>	

	</body>

	<script>
		// resize container to size of background_image to allow for scrolling 
		// mostly for mobile browser support since position:fixed for background
		// leads to strange sizing
		
		// resize container to size of background_image to allow for scrolling 
		// mostly for mobile browser support since position:fixed for background
		// leads to strange sizing
		
		// intialize function
		console.log("I'm in the script");
		go();

		window.addEventListener('resize', go);

		function go(){
	      background_image = document.getElementById("bg_img");
	      container = document.getElementById("container"); 
	      container.style.height = background_image.height;
	      console.log(container.style.height);
	  	};

	</script>

<html>