{% load staticfiles %}

<html>
	<head>
		<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "{% static 'css/blog.css' %}">
		<title>Blog</title>
	</head>

	<body>

		<div class = "header"> 
			<ul>
				<li><a href = " " >| Home </a></li>
				<li><a href = " " >| About </a></li>
				<li><a href = " " >| Projects </a></li>
				<li><a href = " " >| Art </a></li>
				<li><a href = " " >| Links </a></li>
			</ul>
		</div> 

		<div class = "post_container">
			{% for post in posts %}
				<div>
					<h1><a href = " " class = "post_titleinfo"> {{ post.title }}</a>
						<span class = "date">
							<span class = "date_posted">| Posted:
							</span> {{ post.published_date }}
						</span>
					</h1>

					<div class = "post_content"> {{ post.text|linebreaksbr}} </div>

					<hr>
				</div>

			{% endfor %}
		</div>

	</body>

<html>