{% load staticfiles %}

<html>

	<head>
		<link rel = "stylesheet" href = "{% static 'css/gallery.css' %}">
		<title>Art Gallery</title>
	</head>


	<body>

		<div class = "header">
			<ul>
				<li><a href = " " >| Home </a></li>
				<li><a href = " " >| About </a></li>
				<li><a href = " " >| Projects </a></li>
				<li><a href = " " >| Blog </a></li>
				<li><a href = " " >| Links </a></li>
			</ul>
		</div>

		<div class = "main_content">
				{% for painting in paintings %}
					<div class = "image_effects">
						<a href = "{{ painting.image.url }}" class = "image_link">
							<img src = "{{ painting.image.url }}" alt = "{{painting.title}}"/>
							<div class = "cover">{{ painting.title }}</div>
						</a>
					</div>
				{% endfor %}
		</div>

	</body>


</html>