{% load staticfiles %}

<html>

	<head>
		<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "{% static 'css/gallery.css' %}">
		<title>Art Gallery</title>
	</head>


	<body>

		<div class = "header">
			<ul>
				<li><a href = "{% url 'homepage' %}">| Home </a></li>
				<li><a href = "{% url 'about' %}" >| About </a></li>
				<li><a href = "{% url 'projects_page' %}">| Projects </a></li>
				<li><a href = "{% url 'post_list' %}" >| Blog </a></li>
				<li><a href = "{% url 'links_page' %}" >| Links </a></li>
			</ul>
		</div>

		<div class = "main_content">
				{% for painting in paintings %}
					<div class = "image_effects">
						<a href = "{% url 'gallery_detail' pk=painting.pk %}" class = "image_link">
							<img src = "{{ painting.image.url }}" alt = "{{painting.title}}"/>
							<div class = "cover">{{ painting.title }}</div>
						</a>
					</div>
				{% endfor %}
		</div>

	</body>


</html>