{% load staticfiles %}

<html> 
	<head>
		<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "{% static 'css/about.css' %}">
		<title>About</title>

	</head>

	<body>

		<div class = "header">
			<ul>
				<li><a href = " " >| Home </a></li>
				<li><a href = " " >| Projects </a></li>
				<li><a href = " " >| Art </a></li>
				<li><a href = " " >| Blog </a></li>
				<li><a href = " " >| Links </a></li>
			</ul>
		</div>


		<div class = "main_content"> 
			<p class = "purple">Hey, there! Thanks for checking out my personal website!</p>

			<h2 class = "orange">I am</h2>

			<p class = "magenta">>>> 21 years old</p>
			<p class = "orange">>>> from Bradbury, California (southern CA)</p>
			<p class = "magenta">>>> Gujarati</p>
			<p class = "orange">>>> a dog lover </p>
			<p class = "magenta">>>> a coffee aficionado (thanks to my dad and my roommate Malika)</p>
			<p class = "orange">>>> a hobbyist artist</p>
			<p class = "magenta">>>> interested in learning more about software engineering and data science (graphics, data viz, machine learning, and trading platforms)</p>
			<p class = "orange">>>> a senior majoring in Computer Science and Economics at the University of Chicago</p>

			<p class = "purple" id = "contact">Contact: asitwala17@gmail.com | asitwala@uchicago.edu | <a href = "https://www.linkedin.com/in/amysitwala">LinkedIn</a></p>
		</div>

	</body>


</html> 