{% load staticfiles %}

<html> 
	<head>
		<link href="https://fonts.googleapis.com/css?family=Advent+Pro:100|Raleway:100" rel="stylesheet">
		<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "{% static 'css/homepage.css' %}">
		<title>Homepage</title>
	</head>

	<body>
		<div class = "header"> 
			<ul>
				<li><a href = "{% url 'about' %}" >| About </a></li>
				<li><a href = "{% url 'projects_page' %}" >| Projects </a></li>
				<li><a href = "{% url 'gallery_page' %}" >| Art </a></li>
				<li><a href = "{% url 'post_list' %}" >| Blog </a></li>
				<li><a href = "{% url 'links_page' %}" >| Links </a></li>
			</ul>
		<div> 

		<div class = "main_content">
			<h1>Amy Sitw<span id = 'a'>a</span>l<span id = 'a'>a</span></h1>
			<p id = "plus_icon">+</p>
			<p id = "desc_1">programming</p>
			<p id = "desc_2">entrepreneurship | design</p>
			<p id = "desc_3">drawing | painting | digital art</p>
		</div>

		<div class = "padding_container">
		</div>

	</body>


</html> 