{% load staticfiles %}

<html>
  <head>
    <title>The Pen Tool</title>
    <!-- reference: http://stackoverflow.com/questions/2190801/passing-parameters-to-javascript-files -->
    <script type = "text/javascript">var myapp { url: 'www.amirafox.deviantart.com'} </script>
    <script type="text/javascript" src="{% static 'pentool/elm.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel = "stylesheet" href="{% static 'pentool/styles.css' %}">
  </head>


  <body>
    <div id = "container">
      <div id = "main">
        <div id="pentool" style="width:95%; height:95%;"> </div>
      </div>
    </div>
      <div id = "credits"> 
        | asitwala 2016 | Written using <a href = "http://elm-lang.org">Elm</a> | Pen Tool Icon from <a href = "http://simpleicon.com/pen_tool.html">SimpleIcon</a> | Pen Tool Practice Exercise from <a href = "http://design.tutsplus.com/tutorials/illustrators-pen-tool-the-comprehensive-guide--vector-141"> tutsplus.com </a>
        </p>
      </div>

  </body>

  <!-- reference: http://elm-lang.org/guide/interop --> 
  <script type="text/javascript">
    var penDiv = document.getElementById('pentool');
    Elm.embed(Elm.PenTool, penDiv);
  </script>

</html>