{% load staticfiles %}

<html>
  <head>
    <title>Animation</title>
    <script type="text/javascript" src="{% static 'pi/elm.js' %}"></script>
  </head>


  <style>

  body {
    font-family: 'Gill Sans', sans-serif;
    height: 110%;
  }
  p {
    color: black;
    text-align: center;
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 25%;
    opacity: 0;
  }

  @media screen and (max-height: 600px){
    div {
      opacity: 0;
    }
    p {
      opacity: 1;
    }
  }

  </style>

  <body>
    <p>Please increase your window size/zoom out to view application. Thanks!</p>
    <div id = "container">
      <div id="pi" style="width:100%; height:100%;"> </div>
    </div>
   
  <!-- reference: http://elm-lang.org/guide/interop --> 
  <script type="text/javascript">
    var piDiv = document.getElementById('pi');
    Elm.embed(Elm.Pi, piDiv);
  </script>

  </body>

</html>

