{% load staticfiles %}

<html>

	<head>
		<link rel = "stylesheet" href = "{% static 'css/projects.css' %}">
		<title>Projects</title>
	</head>


	<body>

		<div class = "header"> 
			<ul>
				<li><a href = "{% url 'homepage' %}" >| Home </a></li>
				<li><a href = "{% url 'about' %}" >| About </a></li>
				<li><a href = "{% url 'gallery_page' %}" >| Art </a></li>
				<li><a href = "{% url 'post_list' %}" >| Blog </a></li>
				<li><a href = "{% url 'links_page' %}" >| Links </a></li>
			</ul>
		<div> 

	</body>


</html>